body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: gray;

}

main{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

a{
  color:#fff;
}

.containers{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
}

.navbar {
  width: 100%;
  padding: 20px 0;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

hr{
  color: #000;
  background-color: #fff;
}
.navbar a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
}

.navbar a:hover {
  background-color: gray;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h1 {
  margin-bottom: 20px;
}
.contact-us{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-Form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 5px;
}

.caretaker{
  width: 180px;
  height: 200px;
  padding: 5px 15px;
}

.center-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label{
  padding: 5px 0px;
}

input{
  padding: 0px 5px;  
}

form{
  width: 75%;
  padding-bottom: 10px;
}

footer{
  background-color: #000;
  width: 100%;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 81px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icons{
  padding: 10px 5px;
}
.icons > a{
  color: #fff;
}