<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
    <nav class="sidebar">
      <ul>
        <li><a href="#">Patients</a></li>
        <li><a href="#">Medicine</a></li>
        <li><a href="#">Prescriptions</a></li>
        <li><a href="#">Prescription Details</a></li>
      </ul>
    </nav>
    <main class="content">
      <h1>Welcome to MedicareSync or whatever this shit is called, I forgo.</h1>
      </main>
  </div>
</body>
</html>